## Imports

In [1]:
import numpy as np
import pandas as pd

## Load data

### There are multiple files, open a bunch of them and view them

In [2]:
food_df = pd.read_csv("data/food.csv")
food_df.head(10)

,fdc_id,data_type,description,food_category_id,publication_date
0,167512,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",18,2019-04-01
1,167513,sr_legacy_food,"Pillsbury, Cinnamon Rolls with Icing, refriger...",18,2019-04-01
2,167514,sr_legacy_food,"Kraft Foods, Shake N Bake Original Recipe, Coa...",18,2019-04-01
3,167515,sr_legacy_food,"George Weston Bakeries, Thomas English Muffins",18,2019-04-01
4,167516,sr_legacy_food,"Waffles, buttermilk, frozen, ready-to-heat",18,2019-04-01
5,167517,sr_legacy_food,"Waffle, buttermilk, frozen, ready-to-heat, toa...",18,2019-04-01
6,167518,sr_legacy_food,"Waffle, buttermilk, frozen, ready-to-heat, mic...",18,2019-04-01
7,167519,sr_legacy_food,"Waffle, plain, frozen, ready-to-heat, microwave",18,2019-04-01
8,167520,sr_legacy_food,"Pie Crust, Cookie-type, Graham Cracker, Ready ...",18,2019-04-01
9,167521,sr_legacy_food,"Pie Crust, Cookie-type, Chocolate, Ready Crust",18,2019-04-01

In [3]:
nutrient_df = pd.read_csv("data/nutrient.csv")
nutrient_df.head(10)

,id,name,unit_name,nutrient_nbr,rank
0,2047,Energy (Atwater General Factors),KCAL,957.0,280.0
1,2048,Energy (Atwater Specific Factors),KCAL,958.0,290.0
2,1001,Solids,G,201.0,200.0
3,1002,Nitrogen,G,202.0,500.0
4,1003,Protein,G,203.0,600.0
5,1004,Total lipid (fat),G,204.0,800.0
6,1005,"Carbohydrate, by difference",G,205.0,1110.0
7,1006,"Fiber, crude (DO NOT USE - Archived)",G,206.0,999999.0
8,1007,Ash,G,207.0,1000.0
9,1008,Energy,KCAL,208.0,300.0

In [4]:
food_nutrient_df = pd.read_csv("data/food_nutrient.csv")
food_nutrient_df.head(10)

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,1283674,167512,1003,5.880,1,46.0,NaN,NaN,NaN,NaN,NaN
1,1283675,167512,1007,3.500,1,46.0,NaN,NaN,NaN,NaN,NaN
2,1283676,167512,1062,1286.000,0,49.0,NaN,NaN,NaN,NaN,NaN
3,1283677,167512,1079,1.200,1,46.0,NaN,NaN,NaN,NaN,NaN
4,1283678,167512,1089,2.120,1,46.0,NaN,NaN,NaN,NaN,NaN
5,1283679,167512,1093,1059.000,1,46.0,NaN,NaN,NaN,NaN,NaN
6,1283680,167512,1253,0.000,1,46.0,NaN,NaN,NaN,NaN,NaN
7,1283681,167512,1257,4.412,1,46.0,NaN,NaN,NaN,NaN,NaN
8,1283682,167512,1258,2.941,1,46.0,NaN,NaN,NaN,NaN,NaN
9,1283683,167512,1004,13.240,1,46.0,NaN,NaN,NaN,NaN,NaN

### Df sizes

In [8]:
num_foods = food_df["fdc_id"].size
num_nutrients = nutrient_df["id"].size
num_food_nutrients = food_nutrient_df["id"].size
print(f"Number of foods: {num_foods}")
print(f"Number of nutrients: {num_nutrients}")
print(f"Number of food nutrients: {num_food_nutrients}")

Number of foods: 7793
Number of nutrients: 474
Number of food nutrients: 644125

### Notes on the dfs

- All foods are identified by their <em>fdc_id</em>
- mainly interested in foods and their calories
-